.navbar-brand {
    font-weight: bold;
}
.brand-letter-a { 
    color: #FAFF00;
}

.brand-letter-f {
    color: #FFFFFF;
}

.brand-letter-r {
    color: #FAFF00;
}

.brand-letter-s {  
    color: #FFFFFF;
}

